*{
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  text-decoration: none ;
  list-style: none;
}
body{
  background-color: #222 ;
  height: 100vh;
  
}
html,#root{
  height: 100vh;
}

.screen{
  
  height: 100vh;
}
.point{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  transform: translate(-50%,-50%);
}
.header{
  position: absolute;
  top: 0;
  left: 0;
  padding: 2em;
  display: flex;
  gap: 1em;
}
.header button{
  height: 3em;
  padding: 1em;
  border-radius: 0.2em;
  background-color: #fff;
}
.header button[disabled]{
 opacity: 0.5;
}
.header button:active{
  transform: scale(0.9);
  
}